---
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title="lukas/blog">
  <div class="page">
    <div class="container">
      <div class="titles">
        <h2>Blog</h2>
        <a class="rss-link" href="/rss.xml" title="RSS Feed">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
            <circle cx="6.18" cy="17.82" r="2.18"/>
            <path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"/>
          </svg>
          RSS
        </a>
      </div>

      <div class="blog-posts">
        {posts.map((post) => (
          <BlogCard
            title={post.data.title}
            description={post.data.description}
            date={post.data.date}
            slug={post.slug}
            tags={post.data.tags}
          />
        ))}
      </div>
    </div>
  </div>
</Layout>

<style>
  .page {
    padding-block: 50px;
  }

  .titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5ch;
  }

  h2 {
    margin-bottom: 0;
  }

  .rss-link {
    display: inline-flex;
    align-items: center;
    gap: 0.4ch;
    font-size: 16px;
    font-weight: bold;
  }

  .blog-posts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
