---

const { title, description = "A 16 year old nerd based in Portugal", image = "/images/og.png" } = Astro.props


import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import DotGrid from "../components/DotGrid.astro"
import "../styles/global.css"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.site)} />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:type" content="website" />
        <meta name="description" content={description} />
	</head>
	<body>
		<DotGrid />
        <Header />
        <hr />
        <main>
            <slot/>
        </main>
        <hr />
        <Footer />
	</body>
</html>

<style>
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    hr {
        border: none;
        border-top: 3px solid var(--yellow);
    }
</style>